$principal: #5265E1;
$secondary: #FA5959;

@import '../node_modules/bootstrap/scss/functions';
@import '../node_modules/bootstrap/scss/_variables';

$new-colors: (
    "greyph": #999DA0;
);

$theme-colors: map-merge($new-colors, $theme-colors);

//import bootstrap
@import '../node_modules/bootstrap/scss/bootstrap';
